.start-column {
    display: flex;
    justify-content: center;
    height: 100%;
}

.LoaderDiv {
    display:flex; 
    justify-content: center; 
    align-items: center;
    /* height: 100%; */
    padding: 20%
}

.posts-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.post {
    width: 65%;
}
.tab-title {
    margin-left: 5px;
}
