<div class="container-fluid messages-main-box">
  <div class="row div-center">
    <element-mini-navbar></element-mini-navbar>
  </div>
  <div class="row">
    <ng-container *ngIf="UserIdListToDisplay$ | async as UserIds; else UsersLoading">
      <ng-container *ngIf="IsHandset$ | async as isHandset; else NotHandset">
        <!-- Mobile view -->
        <div class="col-2 chat-list-container-mobile">
          <mat-list dense>
            <h4>Chats</h4>
            <ng-container *ngFor="let UserId of UserIds; trackBy:UserId">
              <app-chat-list [IsForHandset]="true" [UserId]="UserId"></app-chat-list>
            </ng-container>
          </mat-list>
        </div>
        <div class="col-10 chat-card-container">
          <router-outlet></router-outlet>
        </div>
      </ng-container>
      <!-- Desktop view -->
      <ng-template #NotHandset>
        <div class="col-sm-4 col-xl-3 chat-list-container">
          <mat-list>
            <h3>Chats</h3>
            <ng-container *ngFor="let UserId of UserIds; trackBy:UserId">
              <app-chat-list [IsForHandset]="false" [UserId]="UserId"></app-chat-list>
            </ng-container>
          </mat-list>
        </div>
        <div class="col-sm-8 col-md-7 chat-card-container">
          <router-outlet></router-outlet>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #UsersLoading>
      loading...
    </ng-template>
  </div>
</div>